# 环境变量配置文件
NODE_ENV='development'

# 数据库地址
DATABASE_URL="数据库地址"

# better-auth 认证密钥
BETTER_AUTH_SECRET="better-auth 密钥"
# better-auth 认证 URL
BETTER_AUTH_URL="better-auth 认证 URL"

# GitHub 认证配置
GITHUB_CLIENT_ID="GitHub 客户端 ID"
GITHUB_CLIENT_SECRET="GitHub 客户端密钥"

# Convex 相关环境变量
# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT="Convex 部署 ID"
NEXT_PUBLIC_CONVEX_URL="Convex 部署 URL"
NEXT_PUBLIC_CONVEX_SITE_URL="Convex 站点 URL"
NEXT_PUBLIC_SITE_URL="本地站点 URL"
# Convex 内部密钥，用于保护 Convex 函数的调用
POLARIS_CONVEX_INTERNAL_KEY="Convex 内部密钥"



# AI 相关环境变量
OPENROUTER_API_KEY="OpenRouter API 密钥"
DEEPSEEK_API_KEY="DeepSeek API 密钥"
ANTHROPIC_API_KEY="Anthropic API 密钥"

# Firecrawl API 密钥
FIRECRAWL_API_KEY="Firecrawl API 密钥"

# Sentry 认证令牌
SENTRY_AUTH_TOKEN="Sentry 认证令牌"
